<!DOCTYPE html>
html(lang="en")
  head
    include ../partials/head.pug
    link(rel="stylesheet", href="css/admin.css")
  body
    include ../partials/nav.pug
    .container
      .title-box
        h1 관리자 페이지
      .box
        .link-box.width-center
          a.height-center(href='admin/station') 여행 관리
      .box
        .link-box.width-center
          a.height-center(href='admin/reservation') 예약 관리