nav
  div
    a(href="/")
      h1 melen Airport
    ul
      li
        a(href="/") 홈
      li
        a(href="/reservation") 예약
      li 
        a(href="/info") 여행정보
      if(user == null)
        li
          a.btn(href="/login") 로그인
      else
        li
          a.btn(href="/mypage") 마이페이지
        li
          a.btn(href="/logout") 로그아웃