nav
  div
    a(href="/")
      h1 melen Airport
    ul
      li
        a(href="/") 홈
      li
        a(href="/reservation") 예약
      li 
        a(href="/info") 여행정보
      if(user == null)
        li
          a.btn(href="/login") 로그인
      else
        li
          if(user.name === 'admin')
            a.btn(href="/admin") 관리페이지
          else
            a.btn(href="/mypage") 내정보
        li
          a.btn(href="/logout") 로그아웃