<!DOCTYPE html>
html(lang="en")
  head
    include partials/head.pug
  body
    include partials/nav.pug
    .image-slide(style="background-image: url('../images/rome.jpg');")
      .bg
      .image-slide-text
        a(href="/")
          h1 로마
          p 로마 설명
    .image-slide(style="background-image: url('../images/washington.jpg');")
      .bg
      .image-slide-text
        a(href="/")
          h1 워싱턴
          p 워싱턴 설명
    .image-slide(style="background-image: url('../images/france.jpg');")
      .bg
      .image-slide-text
        a(href="/")
          h1 프랑스
          p 프랑스 설명