<!DOCTYPE html>
html(lang="en")
  head
    include partials/head.pug
  body
    include partials/nav.pug
    .slider-container
      -for(let i=0;i<stations.length;i++)
        .image-slide
          .bg
          img(src="/images/"+stations[i].picName+".jpg" style="width:100%;")
          .image-slide-text
            a(href="/reservation")
              h1= stations[i].name
      
      a.prev(onclick="plusSlides(-1)") &#10094;
      a.next(onclick="plusSlides(1)") &#10095;

      div.dot-box
        -for(let i=1;i<=stations.length;i++)
          span.dot(onclick="currentSlide("+i+")")
    .container
      .link-box.width-center
        a.height-center(href="/reservation") 예약 페이지로 &gt;
    script(src="js/sliderbanner.js")